* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

p {
  font-weight: 100;
  font-size: 0.8rem;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

.column {
  float: left;
}

.Sidebar {
  width: 80px;
  height: 100%;
  background-color: #ffffff;
}

.main-container {
  display: grid;
  width: calc(100% - 82px);
  height: 100vh;
  padding-left: 2px;
  position: relative;
}

.Navbar {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.Sidebar-logo {
  flex: 100%;
  margin: 20px auto 50px auto;
  color: #2d2d2d;
}

.Sidebar-menu > ul {
  display: block;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Sidebar-menu > ul > li {
  list-style: none;
  margin-bottom: 40%;
  color: #2d2d2d;
}

.Sidebar-menu > ul :hover {
  transform: scale(1.1);
}

.selected {
  border-left: 3px solid #4a88e6;
}

.selected > span {
  color: #4a88e6;
}

.title-nav {
  font-size: 0.7rem;
}

.Navbar-search {
  display: flex;
  align-items: center;
  gap: 5px;
  transform: scale(0.75);
  color: #ababab;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Navbar-search:hover {
  transform: scale(0.8);
}

.Navbar-search > p {
  font-size: 1rem;
  margin-top: 15px;
}

.Navbar-menu {
  display: flex;
  align-items: center;
  gap: 15px;
  transform: scale(0.9);
  color: #ababab;
  cursor: pointer;
}

.Navbar-avatar {
  transform: scale(1.2);
  color: #575757;
}

/***** CARDS *****/
.Cards {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 80px;
  left: 30px;
  margin-right: 30px;
  gap: 10px;
}

.Card {
  background-color: #ffffff;
  width: 220px;
  max-width: 500px;
  height: 110px;
  border-radius: 10px;
  padding-top: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  min-width: 100px;
  flex-grow: 4;
}

.Card:hover {
  transform: scale(1.02);
}

.Card-icon {
  background-color: rgba(9, 9, 9, 0.2);
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 15px;
  transform: scale(1.5);
}

.Card > p {
  font-size: 0.7rem;
}

.Card-1 {
  background-color: rgb(74, 136, 230);
}
.Card-2 {
  background-color: rgb(126, 74, 230);
}
.Card-3 {
  background-color: rgb(74, 230, 170);
}
.Card-4 {
  background-color: rgb(240, 100, 58);
}

/***** SUB CONTAINER *****/
.sub-container {
  height: fit-content;
  margin-top: 175px;
  margin-left: 55px;
  margin-right: 50px;
  display: flex;
}

.Traffic-module {
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 2px;
  height: fit-content;
  padding: 30px 10px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 4;
  flex-shrink: 3;
}

.trafic {
  background-color: rgb(255, 255, 255);
  float: left;
  width: 50%;
  height: fit-content;
  padding: 20px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(216, 216, 216);
}

.Goals-module {
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 2px;
  height: fit-content;
  padding: 30px 60px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 4;
  flex-shrink: 3;
}

.goals {
  background-color: #ffffff;
  float: right;
  width: 50%;
  height: fit-content;
  padding: 20px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(216, 216, 216);
}

.Traffic-module > h4 {
  color: #2d2d2d;
}

.Traffic-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.traffic-card {
  box-shadow: 0px 0px 5px rgb(216, 216, 216);
  color: #2d2d2d;
}

.Traffic-icon {
  background-color: #ffffff;
}

/***** GOALS *****/
.Goals-module {
  max-width: 600px;
}

.Goals-module > h4 {
  margin-bottom: 10px;
}

.progress-container {
  box-shadow: 0px 0px 5px rgb(216, 216, 216);
  border-radius: 2px;
  padding: 20px;
  text-align: left;
}

.progress-container > h4 {
  margin-bottom: 10px;
}

.progress-container > h4 > span {
  color: #575757;
  font-weight: 100;
}

.item-element {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -10px;
  padding-top: 10px;
}
.item-element > p {
  display: flex;
  align-items: center;
}

.item-element > p > span {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  margin-right: 10px;
}

/***** FORM *****/

.form-container {
  background-color: #ffffff;
  border-radius: 2px;
  height: fit-content;
  width: 80%;
  padding: 30px 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*********************************************/
/****************** TABLET *******************/

@media only screen and (max-width: 768px) {
  .Cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    margin-top: 10px;
  }

  .sub-container {
    height: fit-content;
    margin-top: 500px;
    margin-left: 55px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    margin-top: 300px;
  }

  .trafic {
    width: 100%;
  }

  .goals {
    width: 100%;
  }
}

/*********************************************/
/****************** MOBILE *******************/

@media only screen and (max-width: 633px) {
  .sub-container {
    margin-top: 560px;
  }
}
